* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fefefe;
  color: #212121;
  line-height: 1.5;
}

img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  font-family: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.load-more {
  font-family: inherit;
  display: inline-block;
  text-align: center;
  height: 50px;
  width: 180px;
  margin-left: 40%;
  margin-top: 20px;

  border: none;
  border-radius: 8px;
  background-color: #00bfff;

  font-weight: 700;
  color: #000;
}

.load-more:focus,
.load-more:hover {
  background-color: coral;
  color: #000;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4) inset;
}

.load-more.is-hidden {
  display: none;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-form > input {
  border-radius: 4px;
  padding: 4px 0 4px 4px;
  width: 300px;

  border: 2px solid black;
}

.search-form > input:hover {
  border: 2px solid #1e90ff;
}

.search-form > button {
  font-weight: 700;
  display: inline-block;
  height: 20px;
  width: 25px;
  transform: translateX(-30px);
  cursor: pointer;

  border: none;
  border-radius: 4px;
  color: coral;
  background-color: #000;
}

.search-form > button:hover,
.search-form > button:focus {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.header {
  width: 100%;
  background-color: coral;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 10px;
  margin-top: -10px;
  margin-right: -10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: calc(100% / 5 - 30px);
  margin-top: 20px;
  margin-right: 20px;

  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.img__thumb {
  display: block;
  width: 100%;
  height: 100%;
}

.img-info__list {
  display: flex;
  flex-flow: row nowrap;
  padding: 0 10px 5px 10px;
}

.img-info__item + .img-info__item {
  margin-left: 10px;
}

.img-info__text {
  line-height: 1.4;
  text-align: center;
}

.is-hidden {
  display: none;
}
